.card {
  height:80vh;
  width:80vw;
  background-color: var(--bg);
  margin-top: 3vh;
  border-radius: 10px;
}

.card-body {
  height:72vh;
  overflow-y: auto;
  color:var(--card-header);
}

#details-card {
  /* height:60vh;*/
  /* width:60vw;  */
  height:auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#body-top {
  width:60vw;
  height:3vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

#details {
  padding:1rem;
  height:fit-content;
  width:60vw;
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  img {
    height:50vh;
    margin:1rem;
  }
  h2,h3,h4,h5,p {
    color:black;
    text-align: center;
    margin:0;
    padding:0;
  }
  
}

#left {
  font-size: 48px;
  color: var(--text);
  cursor: pointer;
}

#right {
  font-size: 48px;
  color: var(--text);
  cursor: pointer;
}

#details-close {
  font-size:36px;
  color:black;
}

.filterButton {
  width:auto;
  height:4vh;
  border-radius: 20px;
  font-size: 12px;
  padding-left:0.45rem;
  padding-right: 0.45rem;
  padding-top:0.2rem;
  padding-bottom:0.25rem;
  margin-bottom:0.25rem;
  margin-right:0.5rem;
  margin-left:0.5rem;
  margin-top:0.1rem;
  box-shadow: 1px 1px 5px rgb(175, 192, 220);
  cursor: pointer;
  &:hover {
    height:4.5vh;
    background-color: rgba(23, 44, 85, 0.949);
    margin-bottom:0.1rem;
    margin-top:0.05rem;
  }
}

.active {
    background-color: rgba(72, 36, 103, 0.949);
    color: rgba(193, 164, 218, 0.949);
  box-shadow: 1px 1px 5px rgb(199, 175, 220);
  &:hover {
    background-color: rgba(59, 23, 85, 0.949);
  }

}

#grid-heading {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  height:20vh;
  width:80vw;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  /* padding:1rem; */
}

#grid {
  background-color: rgb(185, 185, 185);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: hidden;
  img {
    height:40vh;
    max-width:40vh;
  }
  img:hover {
    cursor: pointer;
  }
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 3px 10px rgb(9, 11, 17);
  height:8vh;
  width:100%;
  background-color: var(--card-header);
}

.card-container-details {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-artist {
  margin-left:3vw;
  color:black;
  padding-top: 2vh;
}

.itemGroup {
  cursor: pointer;
  color:black;
  background-color: rgb(185, 185, 185);
  border:5px solid var(--bg);
  display:flex;
  justify-content: start;
  align-items:start;
  padding:1vh;
  border-radius: 5px;
}
img {
  /* width:20vw; */
  box-shadow: 2px 2px 10px rgb(7, 18, 35);
  margin:0.5rem;
  height:28vh;
  max-width: 20vw;
  object-fit:cover;
  object-position:50% 30%;
}
.sort-group {
  margin-left:2vw;
}

.search-group {
  background-color: white;
  padding:2px;
  padding-left:5px;
  height:4vh;
  border-radius:8px;
  display: flex;
  align-items: center;
  margin-right:2vw;
  &.search-icon {
    margin:10px;
  }
}

.sort {
  margin-left:0.75vw;
  width:12vw;
  height:4vh;
  border-radius: 6px;;
  background-color: white;
  color:var(--text);
  font-size: 14px;
  &:focus {
    outline: none;
    border: none;
  }
  &option {
  background-color: white;
  color:var(--text);
  font-size: 14px;
  outline:none;
  border:none;
}
}



.search {
  margin-left:5px;
  width: 15vw;
  border-radius: 5px;
  height:3vh;
  border:none;
  background-color: white;
  color:var(--text);
  font-size: 14px;
  &:focus {
    outline: none;
    border: none;
  }
}

h2{
  font-size: 24px;
  /* margin-bottom: 12vh; */
  text-align: left;
}

h3 {
  font-size:20px;
  text-align:left;
}