.nav {
  height:10vh;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left:3vw;
  margin-right:3vw;
}

h1 {
  font-size:30px;
  color: var(--text-h);
}

.toggles {
  display: flex;
  align-items: center;
  margin-top: 3vh;
}

button {
  background: var(--accent-bg);
  color: var(--accent);
  font-weight: 600;
}

button.galleryButton, button.listbutton {
  height:5vh;
  width:10vw;
  color: var(--accent);
  background: var(--accent-active);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
}

.galleryButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &:hover {
    background-color: var(--accent-hover);
    /* color: var(--accent-bg); */
    cursor: pointer;
  }
  &.active {
    background-color: var(--accent-bg);
    /* color: var(--accent-bg); */
    cursor: auto;
  }
}

.listbutton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  &:hover {
    background-color: var(--accent-hover);
    cursor: pointer;
    /* color: var(--accent-hover-txt); */
  }
  &.active {
    background-color: var(--accent-bg);
    /* color: var(--accent-bg); */
    cursor: auto;
  }
}